<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Disappearing Discs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2925DD61D7E3B09005F5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2925DEE1D7E3B09005F5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2925DF91D7E3B09005F5080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
